<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="index.css">
    <title>RV Enterprises</title>
  </head>
  <body>
    <main class="container">
      {% include "partials/navbar.html" %}
      {% include "partials/hero.html" %}
    </main>
  </body>
</html>
